@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


:root {
    --main-bg: #f8f8f8;
    --box-bg: #ffffff;
    --name-color: #232323;
    --card-bg-text: #343434;
}

.dark:root {
    --main-bg: #131313;
    --box-bg: #232323;
    --name-color: #f8f8f8;
    --card-bg-text: #ffffff;
}

body {
    min-height: 100vh;
    background: var(--main-bg);
}

.heading {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--box-bg);
    padding: 2rem;
    height: 20px;
    width: 68%;
    border-radius: 3rem;
    position: sticky;

}

.spacing {
    cursor: pointer;
}

.spacing div {
    width: 25px;
    height: 3px;
    background-color: var(--name-color);
    margin: 3px 0;
}

.logo {
    height: 200%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: var(--box-bg);
    border-radius: 20px;
    transform-style: preserve-3d;
}

